{% assign site_url_split = site.url | split: "https://" %}
{% assign prose_edit_url = "https://prose.io/#" | append: site.github_user_or_organisation | append: site.baseurl | append: "/edit/master/" %}
{% assign github_home_url = "https://github.com/" | append: site.github_user_or_organisation | append: site.baseurl %}
{% assign history_url = github_home_url | append: "/commits/master/" %}
{% assign github_edit_url = github_home_url | append: "/edit/master/" %}
{% assign github_del_url = github_home_url | append: "/delete/master/" %}
{% if page.collection %}
    {% assign prose_edit_url = prose_edit_url | append: "collections/" %}
    {% assign github_edit_url = github_edit_url | append: "collections/" %}
    {% assign github_del_url = github_del_url | append: "collections/" %}
    {% assign history_url = history_url | append: "collections/" %}
{% endif %}
{% assign prose_edit_url = prose_edit_url | append: page.path %}
{% assign github_edit_url = github_edit_url | append: page.path %}
{% assign github_del_url = github_del_url | append: page.path %}
{% assign history_url = history_url | append: page.path %}
{% assign github_image_upload_url = github_home_url | append: "/upload/master/assets/images/posts" %}
{%- assign path = page.path | split: "/" -%}

<div class="page-header">
    <div class="page-header-content">
        <a href="{{ site.url | append: site.baseurl }}/"><img class="header-logo"
                src="{{ '/assets/images/site/lightform-logo.png' | prepend: site.baseurl | prepend: site.url }}"></a>
        <div class="page-manage-buttons">
            {% if page.show_edit_button == true %}
                <a href="{{ github_edit_url }}" class="edit-page-button" title="Edit this page on GitHub."><span
                        class="page-manage-button-text">edit</span></a>
            {% endif %}
            {% if page.show_history_button == true %}
                <a href="{{ history_url }}" class="page-history-button"
                    title="View the commit history of this page on GitHub."><span
                        class="page-manage-button-text">history</span></a>
            {% endif %}
            {% if page.show_delete_button == true %}
                <a href="{{ github_del_url }}" class="delete-page-button" title="Delete this page on GitHub."><span
                    class="page-manage-button-text">delete</span></a>                
            {% endif %}     
            <a href="{{ github_image_upload_url }}" class="image-upload-link" title="Upload images for use in Wiki pages."><span
                class="page-manage-button-text">add images</span></a>               
            <a href="{{ github_home_url }}" class="github-repo-link" title="Go to the Wiki repository on GitHub."><span
                    class="page-manage-button-text">github</span></a>                 
        </div>
    </div>
</div>
