{% assign site_url_split = site.url | split: "https://" %}
{% assign prose_url = "https://prose.io/#" | append: site.github_user_or_organisation | append: site.baseurl | append: "/edit/master/" %}
{% assign history_url = "https://github.com/" | append: site.github_user_or_organisation | append: site.baseurl | append: "/commits/master/" %}
{% if page.collection %}
{% assign prose_url = prose_url | append: "collections/" %}
{% assign history_url = history_url | append: "collections/" %}
{% endif %}
{% assign prose_url = prose_url | append: page.path %}
{% assign history_url = history_url | append: page.path %}

<div class="page-header">
    <div class="page-header-content">
        <a href="{{ site.url | append: site.baseurl }}/"><img class="header-logo"
                src="{{ '/assets/images/site/lightform-logo.png' | prepend: site.baseurl | prepend: site.url }}"></a>
        <div class="page-manage-buttons">
            <a href="{{ prose_url }}" class="edit-page-button" title="Edit this page on Prose.IO"><span
                    class="page-manage-button-text">edit</span></a>
            <a href="{{ history_url }}" class="page-history-button"
                title="View the commit history of this page on GitHib"><span
                    class="page-manage-button-text">history</span></a>
        </div>
    </div>
</div>
