{% assign site_url_split = site.url | split: "https://" %}
{% assign prose_url = "https://prose.io/#" | append: site.github_user_or_organisation | append: site.baseurl %}
{% assign github_url = "https://github.com/" | append: site.github_user_or_organisation | append: site.baseurl %}

{% assign prose_cl_new_url = prose_url | append: "/new/master/_includes/checklists/" %}
{% assign prose_cl_edit_url = prose_url | append: "/edit/master/_includes/checklists/" %}
{% assign prose_cl_dir_url = prose_url | append: "/tree/master/_includes/checklists" %}
{% assign prose_exp_dir_url = prose_url | append: "/tree/master/collections/_experiments" %}

{% assign github_cl_new_url = github_url | append: "/new/master/_includes/checklists/" %}
{% assign github_cl_edit_url = github_url | append: "/edit/master/_includes/checklists/" %}
{% assign github_cl_dir_url = github_url | append: "/tree/master/_includes/checklists" %}
{% assign github_exp_dir_url = github_url | append: "/tree/master/collections/_experiments" %}

{% assign github_cl_history_url = "https://github.com/" | append: site.github_user_or_organisation | append: site.baseurl | append: "/commits/master/_includes/checklists/" %}
