---
layout: post
---

{{ content }}

{% include get_collection_pages.html page=page %}

{% assign github_new_url = "https://github.com/" | append: site.github_user_or_organisation | append: site.baseurl | append: "/new/master/" %}
{% if page.collection %}
    {% assign github_new_url = github_new_url | append: "collections/" %}
{% endif %}
{% assign collec = site.collections | where: "label", page.collection | first %}
{% assign github_new_url = github_new_url | append: collec.relative_directory %}

{% if collec.add_new_name %}
    <a href="{{ github_new_url }}" class="add-exp-button">+ add {{ collec.add_new_name }}</a>
{% endif %}

