---
layout: post
---

{% for collec in site.collections %}
    {% if collec.label == page.collection %}
        {% if collec.index_list_pages %}
            <ul>
            {% for collec_item in collec.docs %}
                {% assign filename = collec_item.url | split: "/" %}
                {% if filename[-1] != "index" %}
                    <!-- Use `title_short` if specified; otherwise `title` -->
                    {% if collec_item.title_short != nil %}
                        {% assign title = collec_item.title_short %}
                    {% else %}
                        {% assign title = collec_item.title %}
                    {% endif %}                    
                    <li><a href="{{ collec_item.url | prepend: site.baseurl }}">{{ title }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
{% endfor %}

{% assign collec = site.collections | where: "label", page.collection | first %}
{% assign site_url_split = site.url | split: "https://" %}
{% assign prose_new_url = "https://prose.io/#" | append: site.github_user_or_organisation | append: site.baseurl | append: "/new/master/" %}
{% if page.collection %}
    {% assign prose_new_url = prose_new_url | append: "collections/" %}
{% endif %}
{% assign prose_new_url = prose_new_url | append: collec.relative_directory %}

{{ content }}

<a href="{{ prose_new_url }}" class="add-exp-button">+ add {{ collec.add_new_name }}</a>