---
layout: default
---

{% assign collec_nav_nav = page.collection %}
{% for collec in site.collections %}
    {% if collec.label == page.collection %}
        {% assign collec_nav_nav = collec.nav_name %}
    {% endif %}
{% endfor %}

{% assign article_class = 'main' %}
{% if page.page_width == 'wide' %}
    {% assign article_class = article_class | append: ' page-wide' %}
{% endif %}

{% assign num_tags = page.tags.size %}

<article class="{{ article_class }}">
    <header class="article-header">
        {% if page.show_breadcrumbs %}
        <div class="post-breadcrumbs">[<a href="{{ site.url }}{{ site.baseurl }}/{{ page.collection }}">{{ collec_nav_nav }}</a>]</div>
        {% endif %}
        <h1 class="post-title">{{ page.title }}</h1>
        {% if page.show_meta %}
        <div class="post-meta">
            {% assign all_authors = page.author | split: ',' %}
            {% for author in all_authors %}
                {% assign author_strip = author | strip %}
                {% assign author_html = author_strip %}
                {% comment %}
                    Try to find author in people data file.
                {% endcomment %}
                {% for person in site.data.people %}
                    {% if person.name == author_strip %}
                        {% assign person_handle = person.handle | slugify %}
                        {% assign author_html = '<a href="' | append: site.url | append: site.baseurl | append: '/people#' | append: person_handle | append: '">' | append: author_strip | append: '</a>' %}                            
                    {% endif %}
                {% endfor %}           
                <span class="author-name">{{ author_html }}</span>
                {%- if forloop.last == false -%},{%- endif -%}
            {% endfor %}
            {% if num_tags > 0 %}
            •
            <span class="all-tags">
                {% for tag in page.tags %}<a
                    href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag | slugify }}">#{{ tag | slugify }}</a>{% endfor %}
            </span>
            {% endif %}
        </div>
        {% endif %}
    </header>
    {% if page.toc %}
    <nav class="article-toc">
        {% include toc.html html=content sanitize=true class="inline-toc" h_min=1 h_max=4 %}
    </nav>
    {% endif %}
    <div class="article-border"></div>
    <div class="article-content" itemprop="articleBody">
        {{ content }}
    </div>
</article>
